{{ define "main" }}
<div class="home">
  <a href="downloads/lsf-2023-plot-full.png"><img src="images/lsf-2023-plot-small-blend.png" alt="main map"></a>
   <br/>
</div>
<br/>
<div class="box bottomlinks">
  <i class="fa fa-file-pdf-o"></i><a href="downloads/LuckyStrikeAttractions.jpg">Attractions</a><br/>
  <i class="fa fa-file-pdf-o"></i><a href="downloads/LuckyStrike-SitePlan-2010.pdf">Lucky Strike Site Plan 2010</a><br/>
  <i class="fa fa-file-pdf-o"></i><a href="downloads/proposedroadsatLuckyStrike4mb.pdf">Proposed Road and Topography</a><br/>
  <i class="fa fa-file-pdf-o"></i><a href="downloads/proposedroadsto17thSt14mb.pdf">Proposed roads to 17th St.</a><br/>
</div>
{{ end }}
